/HW1/HW1/obj
/HW1/HW1/bin
/HW1/HW1.Android/bin
/HW1/HW1.Android/obj
/HW1/.vs
/HW2/HW2/obj
/HW2/HW2/bin
/HW2/HW2.Android/bin
/HW2/HW2.Android/obj
/HW2/.vs
/HWG/HWG/obj
/HWG/HWG/bin
/HWG/HWG.Android/bin
/HWG/HWG.Android/obj
/HWG/.vs


